  <h1>Welcome to Online School!</h1>
  <img src='/tree.png' alt='tree'>  

  <form action="/login" method="POST">
  <label for="login">Login: <input type="text" name="login"></label> <br>
  <label for="password">Password: <input type="password" name="password"></label>
  <input type="submit" value="Log In">
  </form>

  <a href="/studentsignup" >sign up </a> <br>
  <a href="/teacher"> I am a teacher </a>

 
